In [3]:
# Step 0. Load libraries and modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import statsmodels.formula.api as smf
'''
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
'''

'\nfrom sklearn.linear_model import LinearRegression\nfrom sklearn.preprocessing import MinMaxScaler\nfrom sklearn.model_selection import train_test_split\nfrom sklearn.metrics import mean_squared_error, r2_score\n'

In [4]:
df_raw = pd.read_csv('../data/raw/results.csv')

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43752 entries, 0 to 43751
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        43752 non-null  object
 1   home_team   43752 non-null  object
 2   away_team   43752 non-null  object
 3   home_score  43752 non-null  int64
 4   away_score  43752 non-null  int64
 5   tournament  43752 non-null  object
 6   city        43752 non-null  object
 7   country     43752 non-null  object
 8   neutral     43752 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.7+ MB

In [4]:
df_raw.describe()

         home_score    away_score
count  43752.000000  43752.000000
mean       1.740126      1.180129
std        1.749672      1.397021
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [6]:
df_raw.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [7]:
# Pasar date a datetime (format: AÃ‘O-MES-DIA --> %Y-%m-%d)
df_interim = df_raw.copy()
df_interim['date'] = pd.to_datetime(df_interim['date'], format='%Y-%m-%d')
df_interim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43752 entries, 0 to 43751
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        43752 non-null  datetime64[ns]
 1   home_team   43752 non-null  object
 2   away_team   43752 non-null  object
 3   home_score  43752 non-null  int64
 4   away_score  43752 non-null  int64
 5   tournament  43752 non-null  object
 6   city        43752 non-null  object
 7   country     43752 non-null  object
 8   neutral     43752 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 2.7+ MB

In [9]:
df_interim.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [20]:
# ELIMINAR ROWS CON FECHA < 2000 O 2010
fecha = pd.Timestamp(2021,1,1)
df_interim = df_interim[ (df_interim['date'] > fecha) ]

In [21]:
df_interim.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
42072,2021-01-12,United Arab Emirates,Iraq,0,0,Friendly,Dubai,United Arab Emirates,False
42073,2021-01-18,Kuwait,Palestine,0,1,Friendly,Kuwait City,Kuwait,False
42074,2021-01-19,Dominican Republic,Puerto Rico,0,1,Friendly,Santo Domingo,Dominican Republic,False
42075,2021-01-22,Guatemala,Puerto Rico,1,0,Friendly,Guatemala City,Guatemala,False
42076,2021-01-25,Dominican Republic,Serbia,0,0,Friendly,Santo Domingo,Dominican Republic,False

In [ ]:
# 1.1 Get basic info

In [ ]:
# 1.2 Take a sample

In [ ]:
# 1.3 Transform if needed

In [ ]:
# Step 2. Make a basic EDA

In [ ]:
# 2.1 Split the dataset so to avoid bias

In [ ]:
# 2.2 Join the train sets to ease insights

In [ ]:
# 2.3 Get basic info

In [ ]:
# 2.4 Take a sample

In [ ]:
# 2.5 Describe the numerical and date variables

In [ ]:
# 2.6 Describe the categorical variables

In [ ]:
# 2.7 Perform univariate analysis - histograms

In [ ]:
# 2.8 Perform univariate analysis - boxplots

In [ ]:
# 2.9 Perform bivariate analysis - scatter matrix

In [ ]:
# 2.10 Perform correlation analysis - Pearson or Point Biserial

In [ ]:
# 2.11 Perform multivariate analysis - VIF

In [ ]:
# Step 3. Create and evaluate model - Define your approach and goals

In [ ]:
# 3.1 Perform model fit - A

In [ ]:
# 3.2 Perform model fit - B

In [ ]:
# 3.3 Calculate metrics on model A

In [ ]:
# 3.4 Calculate metrics on model B

In [ ]:
# Step 4. Write up your conclusions